* {
  margin: 0px;
  padding: 0px;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  scroll-behavior: smooth;

  color: rgba(255, 255, 255, 0.87);
  background-color: #292929;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;


  --mi-color-principal: #2d6a8f;
  --mi-color-secundario: rgb(12, 124, 210);


  -moz-osx-font-smoothing: grayscale;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.container_error {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}


.error {
   display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
    justify-items: center;

}


.error p {
  font-weight: bolder;
 
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-color: rgb(188, 59, 39);

}


.imagenError{
  width: 200px;
}



.anuncio {
  font-size: 9px;
  align-items: center;
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  justify-content: center;
  background-color: rgb(10, 83, 108);
  width: 100%;
  height: 12px;
}


.nombreAppDiv {
  background-color: var(--mi-color-secundario);
  padding: 10px;
  border-radius: 20px;
  margin-left: 18px;
}

.menuAppDiv {
  display: flex;
  gap: 50px;
  background-color: var(--mi-color-secundario);
  padding: 10px;
  border-radius: 20px;
  padding-left: 55px;
  padding-right: 55px;

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    scroll-snap-align: inherit;
  }
}

.contactAppDiv {
  background-color: var(--mi-color-secundario);
  padding: 10px;
  border-radius: 20px;
  margin-right: 18px;

}

.menuPrincipal {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tituloPage {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  color: #faf4f3;
}

.spantitulo {
  color: var(--mi-color-secundario);
}

.divInputbtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  input {
    width: 700px;
    height: 40px;
    border-radius: 10px 0px 0 10px;
    padding-left: 10px;
    border: none;
    color: black;
    background-color: #d1cccc;
    outline: none;
  }

  button {
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    width: 130px;
    background-color: var(--mi-color-secundario);
    border-radius: 0px 10px 10px 0;
  }
}

.divEsperando {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
  }
}


button:hover {
  background-color: var(--mi-color-principal);
}

.contenedor {
  display: grid;
  margin-top: 30px;
  justify-content: center;
}

.contenido {
  display: flex;
}

.imagen_avatar {
  border-radius: 50%;
  border: 5px solid #ef6542;
  width: 120px;
  margin-right: 15px;
  height: 120px;
}

.perfil_user {
  display: flex;
  align-items: center;
}

.letras_titulo {
  display: grid;
  width: 400px;

}


.titulo {
  position: relative;
  top: 20px;
  margin-left: 10px;
}

.divVideo {
  display: flex;
  justify-content: center;
  justify-items: center;
}

video {
  width: 300px;
  height: 250px;
  background-color: rgb(73, 72, 72);
}

.btnEnlaces {

  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  a {
    background-color: var(--mi-color-secundario);
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    width: 200px;
    text-decoration: none;
    border-radius: 20px;
  }
}

.btnEnlaces a:hover {
  background-color: rgb(155, 55, 27);
  transition: all 0.5s;
  color: white;
}

.nombreCreador {
  border-radius: 20px;
  color: rgb(255, 128, 0);
  margin-right: 8px;
  font-weight: bolder;
  font-size: 30px;
}

.firma {
  position: relative;
  color: rgb(19, 188, 171);
  font-weight: bolder;
  top: 20px;
}

.seccionDEtallesCuenta {
  width: 500px;
  font-weight: bolder;
  margin-top: 40px;

  ul {
    background-color: rgb(75, 70, 70);
    display: flex;

    border-radius: 20px;
    justify-content: space-around;
    align-items: center;

    list-style: none;

    li {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 15px;
    }
  }
}

.corazon {
  color: rgb(242, 63, 63);
}

.comentarios {
  color: rgb(68, 234, 148);

}

.vistas {
  color: rgb(255, 98, 0);

}

.share {
  color: rgb(0, 247, 255);

}

.btnOCultosDescagas {
  display: none;
}

.misRedes {
  position: fixed;
  display: grid;
  height: 80%;
  justify-content: center;
  align-items: center;

  ul {
    text-decoration: none;
    align-items: center;
    display: grid;
    text-align: center;
    justify-content: center;

    li {
      border: 1px solid rgb(88, 88, 88);

    }

    .Github {

      background-color: #000000;
      padding: 12px;
      display: flex;
    }

    .facebook {
      background-color: #165990;
      padding: 12px;
      display: flex;
    }

    .linkedin {
      background-color: #166790;
      padding: 12px;
      display: flex;
    }

    .whatsap {
      background-color: #249435;
      padding: 12px;
      display: flex;
    }

    .youtube {
      background-color: #c50000;
      padding: 12px;
      display: flex;
    }

    .email {
      background-color: #393939;
      padding: 12px;
      display: flex;
    }
  }
}

.contendioLadingPage {
  display: grid;

  justify-content: center;
}

.seccionDequetrata {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.contenidoDequetrata {
  background-color: #373737;
  padding: 20px;
  margin-top: 40px;
  width: 800px;
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);

  .listaBeneficios {
    padding: 16px;


  }

  h1 {
    color: var(--mi-color-secundario);
  }

}

.imagenQees {
  width: 250px;
  height: 280px;
}

.manejopagina {
  background-color: #373737;
  padding: 20px;
  margin-top: 40px;
  width: 78rem;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);

  h1 {
    color: var(--mi-color-secundario);
  }
}


.contenidoPorq {
  background-color: #373737;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);

  h1 {
    color: var(--mi-color-secundario);
  }
}

.seccionPorq {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.imagenporq {
  width: 230px;
  height: 230px;
}

h1 {
  color: var(--mi-color-secundario);
}

.comoUsarl {
  width: 81rem;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  span {

    display: grid;
    padding: 10px;
    background-color: #373737;
    border-radius: 10px;
    border: 2px solid rgb(74, 74, 74);
  }

}

::-webkit-scrollbar {
  width: 6px;
  background-color: #3f3f3f;
}


::-webkit-scrollbar-thumb {
  background-color: var(--mi-color-secundario);
  border-radius: 20px;
}




.decoracion {
  width: 100%;
  height: 10px;
  background-color: #15b796;
}



.footer {
  background-color: #141414;
  color: #ccc;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.MenuVisibilidad {
  display: block;
}

.menuOculto {
  display: none;
}

@media screen and (max-width: 510px) and (min-width: 401px) {

  .tituloPage {
    margin-left: 10px;
    margin-right: 10px;
  }

  .MenuVisibilidad {
    display: none;
  }

  .menuOculto {
    display: block;
  }

  .menuAppDiv {
    gap: 50px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.9s;
  }


  .divInputbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;

    input {
      width: 450px;
    }
  }



  .seccionDequetrata {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .contendioLadingPage {
    display: grid;
    justify-content: center;
  }

  .contenidoDequetrata {
    width: 340px;
    font-size: 20px;

    .dataOculta {
      display: none;
    }

  }

  .comoUsarTitulo {
    margin-top: 20px;
    text-align: center;
  }

  .contenedorComoUsar {
    display: grid;
    justify-content: center;
  }

  .comoUsarl {
    display: grid;
    gap: 30px;
    width: 380px;

    justify-content: center;

    span {

      font-size: 20px;
    }
  }

  .contenedorUso {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .manejopagina {
    width: 330px;
  }


  .contenedorPorque {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .seccionPorq {
    width: 380px;
  }

  .imagenporq {
    display: none;
  }


  .contenido {
    display: grid;
    gap: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 380px;
  }


  .detallecontendor {
    display: grid;

    justify-content: center;
  }

  .seccionDEtallesCuenta {

    width: 380px;

    border-radius: 20px;
    margin-top: 40px;

    ul {
      display: flex;
      justify-content: space-around;

      list-style: none;

      li {
        padding: 10px;
        border-radius: 15px;
      }
    }


  }


  .perfil_user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .letras_titulo {
    width: 250px;
  }

  .nombreCreador {
    font-size: 20px;
  }

  .titulo {
    position: relative;
    top: 0px;
    font-size: 14px;
  }

  .firma {
    position: relative;
    top: 0px;
    font-size: 14px;

  }

  .imagen_avatar {
    border-radius: 50%;
    border: 5px solid #24b79a;
    width: 90px;
    height: 90px;
  }


  video {
    width: 380px;
    height: 250px;
    margin-left: 18px;
  }

  .btnEnlaces {

    margin-bottom: 40px;

    a {
      width: 100%;
    }
  }

  .btnCuentaCreador {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
  }



  .btnOcultoReponsive {
    display: none;
  }

  .btnOCultosDescagas {
    display: grid;
    gap: 15px;
    margin-top: 20px;
    justify-items: center;
    justify-content: center;
  }

  .btnOcultoReponsivedebajo {
    color: #ffffff;
    background-color: var(--mi-color-secundario);

    width: 350px;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
  }
}


















@media screen and (max-width: 680px) and (min-width: 510px) {

  .tituloPage {
    margin-left: 10px;
    margin-right: 10px;
  }

  .MenuVisibilidad {
    display: none;
  }

  .menuOculto {
    display: block;
  }

  .menuAppDiv {
    gap: 50px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.9s;
  }


  .divInputbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;

    input {
      width: 450px;
    }
  }



  .seccionDequetrata {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .contendioLadingPage {
    display: grid;
    justify-content: center;
  }

  .contenidoDequetrata {
    width: 450px;
    font-size: 20px;

    .dataOculta {
      display: none;
    }

  }

  .comoUsarTitulo {
    margin-top: 20px;

    text-align: center;
  }

  .contenedorComoUsar {
    display: grid;
    font-size: 20px;

    justify-content: center;
  }

  .comoUsarl {
    display: grid;
    gap: 30px;
    width: 100%;
    justify-content: center;

    span {
      font-size: 20px;
    }
  }

  .contenedorUso {
    display: grid;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  .manejopagina {
    width: 450px;
  }


  .contenedorPorque {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .seccionPorq {
    width: 500px;
  }

  .imagenporq {
    display: none;
  }

  .divVideo {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: center;
  }

  .contenido {
    display: grid;
    gap: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 480px;
  }


  .detallecontendor {
    display: grid;

    justify-content: center;
  }

  .seccionDEtallesCuenta {


    border-radius: 20px;
    margin-top: 20px;

    ul {
      display: flex;
      justify-content: space-around;

      list-style: none;

      li {
        padding: 10px;
        border-radius: 15px;
      }
    }


  }


  .perfil_user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .letras_titulo {
    width: 100%;
  }

  .nombreCreador {
    font-size: 20px;
  }

  .titulo {
    position: relative;
    top: 0px;
    font-size: 14px;
  }

  .firma {
    position: relative;
    top: 0px;
    font-size: 14px;

  }

  .imagen_avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }


  video {
    width: 470px;
    height: 250px;
  }

  .btnCuentaCreador {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    width: 450px;
  }



  .btnOcultoReponsive {
    display: none;
  }

  .btnOCultosDescagas {
    display: grid;
    gap: 15px;
    margin-top: 20px;
    justify-items: center;
    justify-content: center;
  }

  .btnOcultoReponsivedebajo {
    color: #ffffff;
    width: 450px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
  }
}



























@media screen and (max-width: 800px) and (min-width: 680px) {

  .tituloPage {
    margin-left: 10px;
    margin-right: 10px;
  }

  .MenuVisibilidad {
    display: none;
  }

  .menuOculto {
    display: block;
  }

  .menuAppDiv {
    gap: 50px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.9s;
  }


  .divInputbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;

    input {
      width: 540px;
    }
  }



  .seccionDequetrata {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .contendioLadingPage {
    display: grid;
    justify-content: center;
  }

  .contenidoDequetrata {
    width: 610px;
    font-size: 20px;

    .dataOculta {
      display: none;
    }

  }

  .comoUsarTitulo {
    margin-top: 20px;

    text-align: center;
  }

  .contenedorComoUsar {
    display: grid;
    font-size: 20px;

    justify-content: center;
  }

  .comoUsarl {
    display: grid;
    gap: 30px;
    width: 100%;
    justify-content: center;

    span {
      font-size: 20px;
    }
  }

  .contenedorUso {
    display: grid;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  .manejopagina {
    width: 610px;
  }


  .contenedorPorque {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .seccionPorq {
    width: 650px;
  }

  .imagenporq {
    display: none;
  }

  .divVideo {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: center;
  }

  .contenido {
    display: grid;
    gap: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }


  .detallecontendor {
    display: grid;
    width: 620px;
    justify-content: center;
  }

  .seccionDEtallesCuenta {

    width: 650px;
    border-radius: 20px;
    margin-top: 20px;

    ul {
      display: flex;
      justify-content: space-around;

      list-style: none;

      li {
        padding: 10px;
        border-radius: 15px;
      }
    }


  }


  .perfil_user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .letras_titulo {
    width: 100%;
  }

  .nombreCreador {
    font-size: 20px;
  }

  .titulo {
    position: relative;
    top: 0px;
    font-size: 18px;
  }

  .firma {
    position: relative;
    top: 0px;
    font-size: 20px;

  }

  .imagen_avatar {
    border-radius: 50%;
    width: 110px;
    height: 110px;
  }


  video {
    width: 640px;
    height: 450px;
    background-color: rgb(34, 82, 70);
  }

  .btnCuentaCreador {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    width: 610px;
  }



  .btnOcultoReponsive {
    display: none;
  }

  .btnOCultosDescagas {
    display: grid;
    gap: 15px;
    margin-top: 20px;
    justify-items: center;
    justify-content: center;
  }

  .btnOcultoReponsivedebajo {
    background-color: rgb(22, 83, 90);
    color: #ffffff;
    width: 620px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
  }
}

















@media screen and (max-width: 1024px) and (min-width: 800px) {

  .tituloPage {
    margin-left: 10px;
    margin-right: 10px;
  }

  .MenuVisibilidad {
    display: none;
  }

  .menuOculto {
    display: block;

  }

  .menuPrincipal {
    font-size: 20px;
  }

  .menuAppDiv {
    gap: 50px;
    padding: 12px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.9s;

  }


  .divInputbtn {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    margin-right: 25px;
    margin-left: 25px;

    input {
      height: 60px;
      font-size: 20px;
      width: 620px;
    }

    button {
      font-size: 20px;
      width: 140px;
    }
  }



  .seccionDequetrata {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .contendioLadingPage {
    display: grid;
    justify-content: center;
  }

  .contenidoDequetrata {
    width: 720px;
    font-size: 20px;

    .dataOculta {
      display: block;
    }

  }

  .comoUsarTitulo {
    margin-top: 20px;
    text-align: center;
  }

  .contenedorComoUsar {
    display: grid;
    font-size: 20px;
    justify-content: center;
  }


  .comoUsarl {
    display: grid;
    gap: 30px;
    width: 100%;
    justify-content: center;

    span {
      font-size: 20px;
      width: 730px;
    }
  }

  .contenedorUso {
    display: grid;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  .manejopagina {
    width: 720px;
  }


  .contenedorPorque {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .seccionPorq {
    width: 770px;
  }

  .imagenporq {
    display: none;
  }

  .divVideo {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-items: center;
  }

  .contenido {
    display: grid;
    gap: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }


  .detallecontendor {
    display: grid;
    width: 740px;
    justify-content: center;
  }

  .seccionDEtallesCuenta {

    background-color: rgb(55, 87, 116);
    width: 750px;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;

    ul {
      display: flex;
      justify-content: space-around;

      list-style: none;

      li {
        padding: 10px;
        border-radius: 15px;
      }
    }


  }


  .perfil_user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .letras_titulo {
    width: 100%;
  }

  .nombreCreador {
    font-size: 20px;
  }

  .titulo {
    position: relative;
    top: 0px;
    font-size: 18px;
  }

  .firma {
    position: relative;
    top: 0px;
    font-size: 20px;

  }

  .imagen_avatar {
    border-radius: 50%;
    width: 110px;
    height: 110px;
  }


  video {
    width: 740px;
    height: 450px;
    background-color: rgb(34, 82, 70);
  }

  .btnCuentaCreador {
    text-align: center;

  }




  .btnOCultosDescagas {
    display: grid;
    gap: 15px;
    margin-top: 20px;
    justify-items: center;
    justify-content: center;
  }

  .btnOcultoReponsivedebajo {
    display: none;
  }



  .btnEnlaces {

    justify-content: space-between;
    margin-bottom: 40px;

    a {
      background-color: aquamarine;
      color: #242424;
      font-weight: bolder;
      font-size: 20px;
      padding: 15px;
      text-decoration: none;
      border-radius: 20px;
    }
  }
}




/* From Uiverse.io by uxRakhal */ 
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #ffdd00;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #2cf425;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
