* {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anuncio {
  font-size: 9px;
  align-items: center;
  display: flex;
  color: black;
  justify-content: center;
  background-color: rgb(244, 156, 115);
  width: 100%;
  height: 12px;
}


.nombreAppDiv {
  background-color: rgb(23, 105, 109);
  padding: 10px;
  border-radius: 20px;
  margin-left: 18px;
}

.menuAppDiv {
  display: flex;
  gap: 50px;
  background-color: rgb(23, 105, 109);
  padding: 10px;
  border-radius: 20px;
  padding-left: 55px;
  padding-right: 55px;
}

.contactAppDiv {
  background-color: rgb(23, 105, 109);
  padding: 10px;
  border-radius: 20px;
  margin-right: 18px;

}

.menuPrincipal {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tituloPage {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
}

.divInputbtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  input {
    width: 700px;
    height: 40px;
    border-radius: 10px 0px 0 10px;
    padding-left: 10px;
    border: none;
    outline: none;
  }

  button {
    outline: none;
    border: none;
    color: white;
    width: 100px;
    background-color: rgb(60, 151, 128);
    border-radius: 0px 10px 10px 0;
  }
}

.divEsperando {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
  }
}


button:hover {
  background-color: rgb(54, 104, 129);
}

.contenedor {
  display: grid;
  margin-top: 30px;
  justify-content: center;
}

.contenido {
  display: flex;
}

.imagen_avatar {
  border-radius: 50%;
  border: 5px solid #24b79a;
  width: 120px;
  margin-right: 15px;
  height: 120px;
}

.perfil_user {
  display: flex;
  align-items: center;
}

.letras_titulo {
  display: grid;
  width: 400px;

}


.titulo {
  position: relative;
  top: 20px;
  margin-left: 10px;
}

video {
  width: 300px;
  height: 250px;
  margin-left: 18px;
  background-color: rgb(34, 82, 70);
}

.btnEnlaces {

  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  a {
    background-color: aquamarine;
    color: #242424;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
  }
}

.btnEnlaces a:hover {
  background-color: rgb(255, 111, 0);
  transition: all 0.5s;
  color: white;
}

.nombreCreador {
  border-radius: 20px;
  color: rgb(255, 128, 0);
  margin-right: 8px;
  font-weight: bolder;
  font-size: 30px;
}

.firma {
  position: relative;
  color: rgb(14, 195, 232);
  font-weight: bolder;
  top: 20px;
}

.seccionDEtallesCuenta {
  width: 500px;
  background-color: rgb(51, 100, 144);

  border-radius: 20px;
  margin-top: 40px;

  ul {
    display: flex;
    justify-content: space-around;

    list-style: none;

    li {
      padding: 10px;
      border-radius: 15px;
    }
  }
}

.misRedes {
  position: fixed;
  display: grid;
  height: 80%;
  justify-content: center;
  align-items: center;

  ul {
    text-decoration: none;
    align-items: center;
    display: grid;
    text-align: center;
    justify-content: center;

    li {
      border: 1px solid rgb(43, 209, 214);

    }

    .Github {

      background-color: #000000;
      padding: 12px;
      display: flex;
    }

    .facebook {
      background-color: #165990;
      padding: 12px;
      display: flex;
    }

    .linkedin {
      background-color: #166790;
      padding: 12px;
      display: flex;
    }

    .whatsap {
      background-color: #249435;
      padding: 12px;
      display: flex;
    }

    .youtube {
      background-color: #c50000;
      padding: 12px;
      display: flex;
    }

    .email {
      background-color: #393939;
      padding: 12px;
      display: flex;
    }
  }
}

.contendioLadingPage {
  display: grid;

  justify-content: center;
}

.seccionDequetrata {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.contenidoDequetrata {
  background-color: #373737;
  padding: 20px;
  margin-top: 40px;
  width: 800px;
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);

  .listaBeneficios {
    padding: 16px;


  }

  h1 {
    color: aqua;
  }

}

.imagenQees {
  width: 250px;
  height: 280px;
}

.manejopagina {
  background-color: #373737;
  padding: 20px;
  margin-top: 40px;
  width: 78rem;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);

  h1 {
    color: aqua;
  }
}


.contenidoPorq {
  background-color: #373737;
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  border: 2px solid rgb(74, 74, 74);

  h1 {
    color: aqua;
  }
}

.seccionPorq {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.imagenporq {
  width: 230px;
  height: 230px;
}

h1 {
  color: aqua;
}

.comoUsarl {
  width: 81rem;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  span {

    display: grid;
    padding: 10px;
    background-color: #373737;
    border-radius: 10px;
    border: 2px solid rgb(74, 74, 74);
  }

}

::-webkit-scrollbar {
  width: 6px;
  background-color: #3f3f3f;
}


::-webkit-scrollbar-thumb {
  background-color: #3dafab;
  border-radius: 20px;
}




.decoracion {
  width: 100%;
  height: 10px;
  background-color: #15b796;
}



.footer {
  background-color: #141414;
  color: #ccc;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}

.MenuVisibilidad {
  display: block;
}

.menuOculto {
  display: none;
}

@media screen and (max-width: 750px) {

  .tituloPage {
    margin-left: 10px;
    margin-right: 10px;
  }

  .MenuVisibilidad {
    display: none;
  }

  .menuOculto {
    display: block;
  }

  .menuAppDiv {
    gap: 50px;
    background-color: rgb(23, 105, 109);
    padding: 10px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.9s;
  }


  .divInputbtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 60px;

    input {
      width: 450px;
    }
  }



  .seccionDequetrata {
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .contendioLadingPage {
    display: grid;
    justify-content: center;
  }

  .contenidoDequetrata {
    width: 410px;
    font-size: 20px;

    .dataOculta {
      display: none;
    }

  }

  .comoUsarTitulo {
    margin-top: 20px;
    text-align: center;
  }

  .contenedorComoUsar {
    display: grid;
    justify-content: center;
  }

  .comoUsarl {
    display: grid;
    gap: 30px;
    width: 450px;

    justify-content: center;

    span {

      font-size: 20px;
    }
  }

  .contenedorUso {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .manejopagina {
    width: 400px;
  }


  .contenedorPorque {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .seccionPorq {
    width: 450px;
  }

  .imagenporq {
    display: none;
  }


  .contenido {
    display: grid;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 400px;
  }




  .seccionDEtallesCuenta {
    width: 450px;
    background-color: rgb(51, 100, 144);

    border-radius: 20px;
    margin-top: 40px;

    ul {
      display: flex;
      justify-content: space-around;

      list-style: none;

      li {
        padding: 10px;
        border-radius: 15px;
      }
    }


  }


  .perfil_user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .letras_titulo {
    width: 300px;
  }

  .imagen_avatar {
    border-radius: 50%;
    border: 5px solid #24b79a;
    width: 100px;
    height: 100px;
  }


  video {
    width: 440px;
    height: 250px;
    margin-left: 18px;
    background-color: rgb(34, 82, 70);
  }

}